/* 
Generally, navigations will be a ul wrapped in a nav to indicate that it is a navigation element. The li's will contain links


*/


/* 
================
Fonts
================
*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/* 
================
Variables
================
*/

:root{
    --bg-color: #f8f8f8;
    --body-text-color: #707070;
    --sub-text-color: #1792d2;
    --primary-color: #143774;
    --title-font: 400 2rem/1.4 "Lora", serif;
    --subtitle-font: 700 .75rem/1.6 "Ubuntu", sans-serif;
    --body-font: 700 1rem/1.6 "Ubuntu", sans-serif;
}



/* 
================
Defaults
================
*/

html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: var(--body-text-color);
    line-height: 1.6;
    font: var(--body-font);
}

img{
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;;
}

strong{
    font-weight: 700;
}



/* 
================
Font & Color
================
*/


/*main header */

.main-header{
    background-color: var(--bg-color);
}


/*main header logo */

.logo-title{
    font: var(--title-font);
    color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
}

.logo-subtitle{
    font: var(--subtitle-font);
    color: var(--sub-text-color);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
}


/*main header navigation */

.main-header-nav-link{
    color: var(--body-text-color);
    text-transform: uppercase;
}

.main-header-nav-link:hover,
.main-header-nav-link:focus{
    color: var(--sub-text-color);
}

.current{
    border-bottom: 1px solid var(--primary-color);
}

.current:hover,
.current:focus{
    color: var(--body-color);
}


/*main articles*/

.post{
    display: flex;
    flex-direction: column;
}

.title-insights{
    display: flex;
    justify-content: space-between;
       margin-bottom: 1rem;
}

.featured-post{
    border-bottom: 1px solid #707070;
    padding-bottom: 1.5rem;
  
}

.featured-post .title-insights{
    flex-direction: column;
    justify-content: flex-start;
}

.featured-post .post-insigts{
    order: -2;
}

.post-img{
    max-height: 240px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.post-insigts{
    font: var(--subtitle-font);
    font-weight: 300;
    order: 2;
    padding-top: 2px;
}

.post-title{
    font: var(--title-font);
    font-size: 1.5rem;;
    color: var(--primary-color);
   
}

.post-body{
    font-weight:300;
    margin-bottom: 1rem;
}

.continue-reading{
    font: var(--subtitle-font);
    color: var(--sub-text-color);
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

/* Font and color media queries (tablet and desktop) */

@media (min-width: 480px){

}

@media (min-width: 768px){

}



/* 
================
Layout
================
*/

.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav,
.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


/*main header */

.main-header{
    padding: 2.5rem;
    margin-bottom: 3.5rem;
}


/*main header logo */

.logo{
    /* margin-bottom: 1rem; */
}


/*main header navigation */

.main-header-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main-header-nav-link{
    /* Makes links more clickable on small screens */
    padding-block: .25rem;
}


/* Layout media queries (tablet and desktop) */

@media (min-width: 480px){

}

@media (min-width: 768px){
    .container-nav{
        flex-direction: row;
    }

    .main-header-nav-list{
        flex-direction: row;
        align-items: center;
    }
}